.social-login
    button.social-login--github
        a(href=`user${routes.gitHub}`)
            span
                i.fab.fa-github
            |Contiune with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Contiune with Facebook