.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 15%;
      margin-bottom: 25px;
    }

    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    border-top: solid 3px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    width: 90%;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        width: 100%;
      }
      input:focus {
        border: solid 2px #74b9ff;
      }
    }
    .video__comments-list {
      margin-top: 50px;
      li {
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px #c2c2c2;
        color: black;
        padding: 15px 25px;
        font-size: 1.25rem;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        span {
          width: 100%;
        }
        span:first-child {
          display: flex;
          margin-bottom: 0.75rem;
          color: #2d3436;
        }
      }
      #jsComment {
        display: flex;
        justify-content: space-between;
        .delete_button {
          width: 0px;
          height: 0px;
          padding: 0px;
        }
      }
    }
  }
}
